/**
* HOME PAGE
*/

@import "compass/reset/utilities";
@import "compass/css3";
@import "../base/variables.scss";
@import "../base/mixins.scss";

.intro {	
	h2 {
		font-size:2.2em;
		margin-bottom:.4em;

		@include breakpoint($mobile-land) {
			font-size: 2em;
		}

		@include breakpoint($tablet-port) {
			font-size:3em;
		}
	}
}